<%-include('layout/header');-%>
<div class="container">
		<div class="row">
		<div class="col-md-6 mt-5">
			  <form action="/products" method="post" enctype="multipart/form-data">
			  	<div class="my-2">
					<%if(message.length>0){%>
						<%for(const item of message){%>
						<p class="text-danger"><%=item.msg%></p>
						<%}%>
					<%}%>		
			  	</div>
			  	<div class="my-2">
			  		<label for="name_products" class="form-label">Nama products</label>
			  		<input type="text" name="name_products" id="name_products" class="form-control form-control-sm" required>
			  	</div>
			  	<div class="my-2">
			  		<label for="price_products" class="form-label">Price products</label>
			  		<input type="number" name="price_products" id="price_products" class="form-control form-control-sm" required>
			  	</div>
			  	<div class="my-2">
			  		<label for="image_products" class="form-label">Image products</label>
			  		<input type="file" name="image_products" id="image_products" class="form-control form-control-sm" required>
			  	</div>
			  	
			  	<div class="my-2">
			  		<button type="submit" class="btn btn-primary btn-sm">Tambah Data</button>
			  	</div>
			  </form>
			</div>
		</div>
	</div>
</div>
<%-include('layout/footer');-%>